@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" >

    <img src="~/Resources/Natural Age.jpg" />
    <h2>Natural Age</h2>

   

    <p class="lead"> <h4> Natural Age es una clinica estética dedicada al cuidado de su salud y bienestar, contamos con un staf
    de profesionales que los haran sentir y mantener una calidad de vida mucho manejable, para usted y su familia. </h4> </p
   
    
</div>



